<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trae.ams.mapper.AmsAppointmentItemMapper">

    <resultMap id="BaseResultMap" type="com.trae.ams.entity.AmsAppointmentItem">
        <id column="id" property="id" />
        <result column="appt_id" property="apptId" />
        <result column="service_id" property="serviceId" />
        <result column="tech_id" property="techId" />
        <result column="room_id" property="roomId" />
        <result column="price" property="price" />
        
        <!-- 简单的关联映射，也可以分步查询 -->
        <association property="service" javaType="com.trae.ams.entity.AmsService">
            <id column="s_id" property="id"/>
            <result column="s_name" property="name"/>
        </association>
        <association property="technician" javaType="com.trae.ams.entity.AmsTechnicianInfo">
            <id column="t_user_id" property="userId"/>
            <result column="t_real_name" property="realName"/>
        </association>
        <association property="room" javaType="com.trae.ams.entity.AmsRoom">
            <id column="r_id" property="id"/>
            <result column="r_name" property="name"/>
        </association>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ams_appointment_item (
            appt_id, service_id, tech_id, room_id, price
        ) VALUES 
        <foreach collection="list" item="item" separator=",">
        (
            #{item.apptId}, #{item.serviceId}, #{item.techId}, #{item.roomId}, #{item.price}
        )
        </foreach>
    </insert>

    <select id="selectByApptIds" resultMap="BaseResultMap">
        SELECT 
            i.id, i.appt_id, i.service_id, i.tech_id, i.room_id, i.price,
            s.id as s_id, s.name as s_name,
            t.user_id as t_user_id, t.real_name as t_real_name,
            r.id as r_id, r.name as r_name
        FROM ams_appointment_item i
        LEFT JOIN ams_service s ON i.service_id = s.id
        LEFT JOIN ams_technician_info t ON i.tech_id = t.user_id
        LEFT JOIN ams_room r ON i.room_id = r.id
        WHERE i.appt_id IN
        <foreach collection="apptIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectByApptId" resultMap="BaseResultMap">
        SELECT 
            i.id, i.appt_id, i.service_id, i.tech_id, i.room_id, i.price,
            s.id as s_id, s.name as s_name,
            t.user_id as t_user_id, t.real_name as t_real_name,
            r.id as r_id, r.name as r_name
        FROM ams_appointment_item i
        LEFT JOIN ams_service s ON i.service_id = s.id
        LEFT JOIN ams_technician_info t ON i.tech_id = t.user_id
        LEFT JOIN ams_room r ON i.room_id = r.id
        WHERE i.appt_id = #{apptId}
    </select>

    <delete id="deleteByApptId">
        DELETE FROM ams_appointment_item WHERE appt_id = #{apptId}
    </delete>

    <select id="selectFutureItemsByTechId" resultMap="BaseResultMap">
        SELECT 
            i.id, i.appt_id, i.service_id, i.tech_id, i.room_id, i.price
        FROM ams_appointment_item i
        JOIN ams_appointment a ON i.appt_id = a.id
        WHERE i.tech_id = #{techId}
          AND a.end_time > #{minTime}
          AND a.status IN (1, 5)
    </select>

    <select id="selectConflictDetailsByTechId" resultType="com.trae.ams.dto.technician.TechnicianConflictDTO">
        SELECT 
            a.id as apptId,
            a.start_time as startTime,
            a.end_time as endTime,
            s.name as serviceName,
            u.nickname as customerName
        FROM ams_appointment_item i
        JOIN ams_appointment a ON i.appt_id = a.id
        JOIN ams_service s ON i.service_id = s.id
        JOIN sys_user u ON a.customer_id = u.id
        WHERE i.tech_id = #{techId}
          AND a.end_time > #{minTime}
          AND a.status IN (1, 5)
        ORDER BY a.start_time ASC
    </select>

    <select id="countActiveByTechId" resultType="int">
        SELECT count(*)
        FROM ams_appointment_item i
        JOIN ams_appointment a ON i.appt_id = a.id
        WHERE i.tech_id = #{techId}
          AND a.status IN (1, 5)
    </select>

    <select id="countTotalByTechId" resultType="int">
        SELECT count(*)
        FROM ams_appointment_item i
        WHERE i.tech_id = #{techId}
    </select>

    <select id="countByServiceId" resultType="int">
        SELECT count(*) FROM ams_appointment_item WHERE service_id = #{serviceId}
    </select>

    <select id="countByRoomId" resultType="int">
        SELECT count(*) FROM ams_appointment_item WHERE room_id = #{roomId}
    </select>

</mapper>
