<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trae.ams.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.trae.ams.entity.SysUser">
        <id column="id" property="id" />
        <result column="store_id" property="storeId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar" />
        <result column="status" property="status" />
        <result column="membership_level" property="membershipLevel" />
        <result column="discount_rate" property="discountRate" />
        <result column="violation_count" property="violationCount" />
        <result column="total_consumption" property="totalConsumption" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, store_id, username, password, salt, nickname, email, avatar, status, membership_level, discount_rate, violation_count, total_consumption, create_time
    </sql>

    <insert id="insert" parameterType="com.trae.ams.entity.SysUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (
            store_id, username, password, salt, nickname, email, avatar, status, membership_level, discount_rate, violation_count, total_consumption, create_time
        ) VALUES (
            #{storeId}, #{username}, #{password}, #{salt}, #{nickname}, #{email}, #{avatar}, #{status}, #{membershipLevel}, #{discountRate}, #{violationCount}, #{totalConsumption}, NOW()
        )
    </insert>

    <update id="update" parameterType="com.trae.ams.entity.SysUser">
        UPDATE sys_user
        SET
            password = #{password},
            salt = #{salt},
            nickname = #{nickname},
            email = #{email},
            status = #{status},
            membership_level = #{membershipLevel},
            discount_rate = #{discountRate},
            violation_count = #{violationCount},
            total_consumption = #{totalConsumption}
        WHERE id = #{id}
    </update>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user
        WHERE username = #{username}
    </select>

    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user
        WHERE email = #{email}
        LIMIT 1
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user
        WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user
        <where>
            <if test="keyword != null and keyword != ''">
                AND (username LIKE CONCAT('%', #{keyword}, '%') OR nickname LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <delete id="deleteById">
        DELETE FROM sys_user WHERE id = #{id}
    </delete>

</mapper>
